<ul>
    <li>Id: {{user._id}}</li>
    <li>Name: {{user.name}}</li>
    <li>Number of Employees: {{user.num_employees}}</li>
    <li>Contact Email: {{user.contact_email}}</li>
    <li>Year Founded: {{user.year_founded}}</li>
    <li>Contact Name: {{user.contact_name}}</li>
    <li>Rankings: {{user.rankings}}</li>
    

</ul>